.footer-section{
    @media (min-width:576px){
        padding:30px 20px !important;

    }
    @media (min-width:992px){
        padding:30px 40px !important;
    }


    .text-center{
        @media (min-width:576px){
            font-size:16px;
            line-height:130%;
        }
        @media(min-width:992px){
            font-size:20px
        }

    }

    .text-center:nth-child(2){
        @media(min-width:992px){
            margin-top:10px !important;
        }
    }
}
