
.nav-section{
    .navbar{
        @media (min-width:576px){
            padding:30px 20px;

        }

        @media (min-width:991px){
            padding:30px 40px;
        }
    }
}

.nav-tab-section{
    .nav-large-devices{
        .nav-tabs{
            @media (min-width:576px){
                padding-top: 104px;
            }

            .nav-link{
                @media (min-width:576px){
                    padding:10px 20px;
                }
            }

        }
    }
}